/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body{
    background-color: lightgray;
}

#content-wrappe{
    padding: 10px;
}

.listItemContent{
    background-color: darkgrey;
    padding:5px;
    border-radius: 3px;
}

#listItemContentQuestionedBy{
    background-color: darkcyan;
}

.judgeButton{
    background-color: lightgreen;
    border-radius: 3px;
}